only-built-dependencies[]=esbuild
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@tailwindcss/oxide
only-built-dependencies[]=core-js
only-built-dependencies[]=es5-ext
only-built-dependencies[]=vue-demi
