onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=@tailwindcss/oxide
onlyBuiltDependencies[]=core-js
onlyBuiltDependencies[]=es5-ext
onlyBuiltDependencies[]=vue-demi
